.vscode
*/node_modules

*/.env
*/.env.*
mobile/android/.kotlin/errors/errors-1790430995214.log
mobile/android/.kotlin/errors/errors-1790430995328.log
mobile/android/.kotlin/errors/errors-1790430995378.log
mobile/android/.kotlin/errors/errors-1790430995404.log
